<nz-sider [nzWidth]="200" >
  <i id="show-hide-side-button" class="anticon anticon-left" (click)="closesideClicked()" style="margin-left: 180px;position: absolute;color: #fff"></i>
  <ul nz-menu [nzTheme]="'dark'" [nzMode]="'inline'" style="height:100%;padding-top: 20px">
    <li nz-menu-item>
      <a href="#"><i class="anticon anticon-solution"></i>About</a>
    </li>
    <li nz-menu-item>
      <a href="#"><i class="anticon anticon-tool"></i>Services</a>
    </li>
    <li nz-menu-item>
      <a href="#"><i class="anticon anticon-coffee"></i>Clients</a>
    </li>
    <li nz-menu-item>
      <a href="#">
        <i class="anticon anticon-solution"></i>About</a>
    </li>
    <li nz-menu-item>
      <a href="#">
        <i class="anticon anticon-tool"></i>Services</a>
    </li>
    <li nz-menu-item>
      <a href="#">
        <i class="anticon anticon-coffee"></i>Clients</a>
    </li>
  </ul>
</nz-sider>
    
  