<!--The content below is only a placeholder and can be replaced.-->
<app-navbar></app-navbar>
<nz-layout class="sidenav" id="mySidenav">
    <app-sidenav></app-sidenav>
</nz-layout>
<app-rightscreen (notifyRight)='onNotifyRightWindow($event)'></app-rightscreen>
<nz-layout id="main" class="main-content">
    <div nz-row>
        <div nz-col nzSpan="2">
            <button nz-button  (click)="showHideSideClicked()">
                <i id="show-hide-side-button" class="anticon anticon-left"></i>
            </button>
        </div>
        <div nz-col nzSpan="22">
            <div class="row-content-header">{{title}}</div>
        </div>      
    </div>
    <div class="main-content">
        <app-boardlist (notify)="onNotifyBoardList($event)">
        </app-boardlist>
    </div>
</nz-layout>






