<!--The content below is only a placeholder and can be replaced.-->
<app-navbar></app-navbar>
<nz-layout class="sidenav" id="mySidenav">
    <app-sidenav (notifyside)='showHideSideClicked($event)'></app-sidenav>
</nz-layout>
<nz-layout>
    <app-rightscreen (notify)='onNotifyRightWindow($event)'></app-rightscreen>
</nz-layout>
<nz-layout id="main" class="main-content">
    <div nz-row>
        <div nz-col nzSpan="2">
            <i id="showSide" class="anticon" (click)="showSideClicked()"></i>
        </div>
        <div nz-col nzSpan="22">
            <div class="row-content-header">{{title}}</div>
        </div>      
    </div>
    <div class="main-content">
        <app-boardlist (notify)="onNotifyBoardList($event)">
        </app-boardlist>
    </div>
</nz-layout>






